@import url(variables.css);

html {
  scroll-behavior: smooth;
}

body {
  text-align: justify;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: Roboto, Arial, sans-serif;
  margin: 0px;
  transition-duration: 0.4s;
}

main {
  margin: 0px 14px 14px 14px;
}

p {
  color: var(--p-color) !important;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 0px;
  font-weight: 400;
}

h6,
h5,
h4 {
  margin-top: 8px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 14px;
  margin-bottom: 2px;
}

.img-personal {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-card {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
}

.div-img {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

.bi {
  width: 32px;
  height: 32px;
  font-size: 32px;
  transition-duration: 0.4s;
}

.github {
  color: var(--github-color);
}

.linkedin {
  color: var(--linkedin-color);
}

.envelope-fill {
  color: var(--email-color);
}

.icon {
  width: 48px;
  height: 48px;
}

.link-default {
  color: var(--link-color);
}

.button {
  border: none;
  padding: 2px 24px;
  size: 50px 78px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--button-br);
  border-radius: 12px;
  min-height: 24px;
}

.button:hover {
  i {
    color: var(--icon-hover-color);
    transition-duration: 0.4s;
  }
}

.button:active {
  i {
    color: var(--icon-active-color);
    transition-duration: 0.4s;
  }
}

.button1 {
  border: 1px solid var(--email-color);
}

.button1:hover {
  background-color: var(--email-color);
}

.button1:active {
  background-color: var(--email-active-color);
  border: 1px solid var(--email-active-color);
}

.button2 {
  border: 1px solid var(--linkedin-color);
}

.button2:hover {
  background-color: var(--linkedin-color);
}

.button2:active {
  background-color: var(--linkedin-active-color);
  border: 1px solid var(--linkedin-active-color);
}

.button3 {
  border: 1px solid var(--github-color);
}

.button3:hover {
  background-color: var(--github-color);
}

.button3:active {
  background-color: var(--github-active-color);
  border: 1px solid var(--github-active-color);
}

.div-center {
  display: flex;
  justify-content: center;
}

.div-buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-name {
  font-size: 40px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: var(--footer-color);
  margin-bottom: 60px;
}

.footer-description {
  margin: 14px;
}

.header {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--header-color);
  transition-duration: 0.4s;
}

.list {
  margin: 0px;
  padding: 10px 20px 10px 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  height: 38px;
}

.avatar {
  padding-top: 20px;
}

.nav-icon {
  padding: 8px 16px;
  color: var(--p-color);
  font-size: 32px;
  transition-duration: 0.4s;
}

.bt-dark-light {
  position: absolute;
  right: 14px;
  top: 14px;

  border: 1px solid var(--bt-dark-light-details);
  padding: 5px 6px 2px 6px;
  size: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--bt-dark-light-bg-color);
  border-radius: 12px;
  min-height: 24px;
}

.icon-dark-light {
  color: var(--bt-dark-light-details);
}

.line {
  border: none;
  height: 2px;
  background: var(--line-color);
  margin: 24px 0;
}

@media screen and (min-width: 768px) {
  .img-card {
    max-height: 600px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin-left: 125px;
    margin-right: 125px;
  }
  .bt-dark-light {
    right: 139px;
  }
}

.avatar {
  margin-bottom: 40px;
}
