@import url(variables.css);

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin: 14px;
}

p {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 0px;
}

h6,
h5,
h4 {
  margin-top: 8px;
  margin-bottom: 2px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 14px;
  margin-bottom: 2px;
}

.img-personal {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-card {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
}

.div-img {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 18px;
}

.bi {
  width: 32px;
  height: 32px;
  font-size: 32px;
  transition-duration: 0.4s;
}

.bi-github {
  color: var(--github-color);
}

.bi-linkedin {
  color: var(--linkedin-color);
}

.bi-envelope-fill {
  color: var(--email-color);
}

.icon {
  width: 48px;
  height: 48px;
}

a {
  color: cornflowerblue;
}

.button {
  border: none;
  padding: 2px 24px; /*2 30*/
  size: 50px 78px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--button-br);
  border-radius: 12px; /*10px*/
}

.button:hover {
  i {
    color: var(--icon-hover-color);
    transition-duration: 0.4s;
  }
}

.button:active {
  i {
    color: var(--icon-active-color);
    transition-duration: 0.4s;
  }
}

.button1 {
  border: 1px solid var(--email-color);
}

.button1:hover {
  background-color: var(--email-color);
}

.button1:active {
  background-color: var(--email-active-color);
  border: 1px solid var(--email-active-color);
}

.button2 {
  border: 1px solid var(--linkedin-color);
}

.button2:hover {
  background-color: var(--linkedin-color);
}

.button2:active {
  background-color: var(--linkedin-active-color);
  border: 1px solid var(--linkedin-active-color);
}

.button3 {
  border: 1px solid var(--github-color);
}

.button3:hover {
  background-color: var(--github-color);
}

.button3:active {
  background-color: var(--github-active-color);
  border: 1px solid var(--github-active-color);
}

.div-center {
  display: flex;
  justify-content: center;
}

.div-buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.my-name {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
