body {
  background: #313131;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  margin: 10px;
}

p {
  font-size: 18px;
}

.img-personal {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.img-card {
  max-height: 300px;
  max-width: 300px; /*355px*/
  border-radius: 5px;
}

/*.img-card-project img {
  justify-content: center;
}*/

.bi-github,
.bi-linkedin,
.bi-envelope-fill {
  width: 32px;
  height: 32px;
  font-size: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #ffffff;
}

.icon {
  width: 50px;
  height: 50px;
}
